*.py[co]
__pycache__

# Translations compiled files
*.mo

# Local development ignores
venv
*.sqlite
*.env

# Production config
local.cfg

# Static
static/libs/*

# Other stuff here
*.db
*.swp
*.swn
whoosh
docs/_site
flask_session/*
node_modules/*
